import React from 'react';

import styles from './{{ pascalCase name }}.module.css'

interface IProps {}

export const {{ pascalCase name }}: React.FC<IProps> = () => {
  return (
    <div>{{ pascalCase name}}</div>
  )
}