.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  position: relative;

  margin: 0.833vw;

  border: 1px solid rgba(0, 65, 102, 0.2);
  border-radius: 8px;
}

.ContentWrapper {
  padding: 3.125vw;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .Text {
    font-size: 1.667vw;
    font-weight: bold;
  }

  & .Tag {
    background: #ced8de;
    border-radius: 10px;
    border: none;
  }
}

.Description {
  display: block;
  padding-right: 2.125vw;
  width: 19.583vw;

  text-align: start;
  margin: 1.042vw 0;
  font-size: 0.833vw;
}

.ImageWrapper {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
}