.root {
  & .Default {
    position: absolute;
    background: transparent;
  }

  & .Pinned {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
  }
}

.Menu {
  & .Pinned {
    position: absolute;
    background: transparent;
  }
}

.Button {
  float: right;
}
